@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root,
[data-theme] {
  background: oklch(var(--b2));
}

body {
  min-height: 100vh;
}

h1,
h2,
h3,
h4 {
  margin-bottom: 0.5rem;
  line-height: 1;
}

.markdown h1 {
  line-height: 5rem;
}

.markdown h2 {
  line-height: 4rem;
}

.markdown h3 {
  line-height: 3rem;
}

.markdown h4 {
  line-height: 2rem;
}

p {
  margin: 1rem 0;
}

.btn {
  @apply shadow-md;
}

.btn.btn-ghost {
  @apply shadow-none;
}
